html body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    
    #header-color {

        a {
            color: aliceblue;
        }
        
        a:hover {
            color: aliceblue;
            background-color: transparent;
        }
        
        .navbar-right {
            margin-right: 5%;
            text-shadow: 1px .5px #363636;
        }
        
        .navbar-brand {
        }
    }
}

.home {
    background-image: url(/img/cover1.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 550px;
    z-index: -1;
    
    .image-hero img {
        height: 225px;
        position: absolute;
        top: 40%;
        left: 41.7%;
        border-radius: 50%;
        border: 4px solid aliceblue;
    }
    
    .center-text {
    text-align: center;
    position: relative;
    top: 47%;
    left: 35%;
    text-shadow: 1px .5px #363636;
    color: aliceblue;
        
        
        .left {
            text-align: left;
        }
        
        span {
            text-transform: uppercase;
            font-size: 23px;
        }    
}


}

.about {
    background-color: white;
    background-size: cover;
    
    .technologies {
        text-align: center;
        align-content: center;
        
        .section-title {
            padding-top: 10px;
        }
        
        .container {
            .row {
            margin: 10px 0;
            }
        }
        
      /*  .tech-con1 {
            margin-left: 20%;
        }
        
        .tech-con2 {
            margin-left: 40%;
        } */
        
        .tech1 {
            border: 1px solid #6196be;
            border-radius: 20px;
            background: #6196be;
            color: white;
            margin: 15px 15px;
        }
        .tech2 {
            border: 1px solid #9a7870;
            border-radius: 20px;
            background: #9a7870;
            color: white;
            margin: 15px 15px;
        }
        .tech3 {
            border: 1px solid #9ca6a7;
            border-radius: 20px;
            background: #9ca6a7;
            color: white;
            margin: 15px 15px;
        }
        .tech4 {
            border: 1px solid #1e2c34;
            border-radius: 20px;
            background: #1e2c34;
            color: white;
            margin: 15px 15px;
        }
        .tech5 {
            border: 1px solid #9b8f93;
            border-radius: 20px;
            background: #9b8f93;
            color: white;
            margin: 15px 15px;
        }
        .tech6 {
            border: 1px solid #56696d;
            border-radius: 20px;
            background: #56696d;
            color: white;
            margin: 15px 15px;
        }
        .tech7 {
            border: 1px solid #8c673b;
            border-radius: 20px;
            background: #8c673b;
            color: white;
            margin: 15px 15px;
        }
    }
}

.projects {
    background-color: #e7e7e7;
    background-size: cover;
    text-align: center;
    
    .section-title {
        padding-top: 10px;
    }
    
/* Needed for hover effect to work */
    .img-con:hover .port-item-text {
        width: 360px;
    }
    
/* img container */
    .img-con { 
        position: relative;
        padding: 15px 0;
        
    /* img tag */
        .port-item {
            width: 360px;
            height: 360px;
            object-fit: cover;
        }
    }
    
/* p container */
    .port-item-text {
        position: absolute;
        top: 15px;
        width: 0;
        height: 360px;
        background: rgba(0, 0, 0, 0.6);
        padding: 15px 0;
        display: flex;
        transition: 0.7s ease;
        overflow: hidden;
        align-items: center;
        
    /* p tag */
        .item-text {
            text-align: center;
            font-weight: 700;
            color: #e1e1e1;
            padding: 20%;
        }
    }
}

.contact {
    background-color: white;
    background-size: cover;
    text-align: center;
    
    .section-title {
        padding-top: 10px;
    }
}

