@media (min-width: 1200px) {
  .content-container {
    padding-left: 80px;
    padding-right: 80px; }

  #introduction p {
    width: 70%; }

  #about-photo {
    width: 350px; }

  #container2 .img-con img {
    object-position: bottom; }

  #container3 .img-con img {
    object-position: bottom; }

  .projects #portfolio .port-item-text .item-text {
    padding: 40%; } }
@media (min-width: 480px) and (max-width: 1199px) {
  .content-container {
    padding-left: 80px;
    padding-right: 80px; }

  #introduction {
    padding-bottom: 100px; }
    #introduction p {
      width: 100%; }

  #about-photo {
    width: 350px;
    left: 50%;
    transform: translateX(-50%); }

  #container2 .img-con img {
    object-position: bottom; }

  #container3 .img-con img {
    object-position: bottom; }

  .projects #portfolio .port-item-text .item-text {
    padding: 40%; }

  #container2 {
    margin-top: 0; }

  #container3 {
    margin-top: 0; }

  #portfolio {
    padding-top: 0; }

  #contact {
    padding-top: 0; }

  .location {
    margin-bottom: 50px; } }
@media (min-width: 320px) and (max-width: 479px) {
  .content-container {
    padding-right: 20px;
    padding-left: 20px; }

  #introduction {
    padding-bottom: 100px; }
    #introduction p {
      width: 100%; }

  #about-photo {
    width: 100%;
    left: 50%;
    transform: translateX(-50%); }

  #container2 {
    margin-top: 0; }
    #container2 img {
      object-position: bottom; }

  #container3 {
    margin-top: 0; }
    #container3 img {
      object-position: bottom; }

  #portfolio {
    padding-top: 0; }

  #contact {
    padding-top: 0; }

  .location {
    margin-bottom: 50px; }

  #email h3 {
    width: 100%;
    font-size: 16px;
    text-align: center; }

  #footer {
    padding-top: 0; } }
html body {
  font-family: 'Montserrat', sans-serif; }

.home {
  background-image: url(/img/cover4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  min-height: 705px; }
  .home .navbar {
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
    z-index: 50; }
    .home .navbar .container {
      background: white;
      border-radius: 15px;
      padding-top: 5px; }
    .home .navbar .icon-bar {
      background-color: #326281; }
    .home .navbar a:hover {
      text-decoration: line-through;
      background-color: unset; }
    .home .navbar a:focus {
      background-color: unset; }
    .home .navbar a {
      color: #a8a8a8; }
  .home .center-text {
    text-align: center;
    text-shadow: 1px .5px #363636;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    padding: 15% 0; }
    .home .center-text span {
      text-transform: uppercase;
      font-size: 23px; }

.about-me {
  background-color: inherit;
  height: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .about-me .intro {
    display: inline; }
    .about-me .intro p:nth-child(2) {
      border-left: 5px solid #aa6e6f;
      text-align: left;
      padding-left: 20px; }
    .about-me .intro p:nth-child(1) {
      border-left: 5px solid #326281;
      text-align: left;
      padding-left: 20px; }
    .about-me .intro p {
      font-weight: 400;
      font-size: 1.5em;
      width: 600px;
      margin-bottom: 20px; }
    .about-me .intro .capitol-letter {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 3em;
      line-height: 0.9;
      color: #326281; }
    .about-me .intro .uppercase {
      text-transform: uppercase;
      font-weight: 600;
      color: #326281; }
    .about-me .intro .about-photo::before {
      content: "";
      height: 75%;
      width: 75%;
      max-width: 300px;
      top: -15px;
      left: -15px;
      border: 10px inset #fea6a8;
      position: absolute;
      z-index: 0;
      box-shadow: inset 15px 15px 70px -10px #fea6a8; }
    .about-me .intro .about-photo::after {
      content: "";
      height: 75%;
      width: 75%;
      max-width: 300px;
      bottom: -15px;
      right: -15px;
      border: 10px outset #53a3d6;
      position: absolute;
      z-index: 0;
      box-shadow: inset -15px -15px 70px -10px #53a3d6; }
    .about-me .intro .about-photo {
      position: relative; }
    .about-me .intro .selfie {
      position: relative;
      z-index: 2;
      width: 350px;
      max-width: 100%;
      backface-visibility: visible; }

.skills {
  background-color: inherit;
  text-align: center;
  width: 100%; }
  .skills #section-title {
    padding: 10px; }
    .skills #section-title h2 {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px; }
  .skills .skill-content {
    display: flex;
    justify-content: center;
    text-align: center; }
    .skills .skill-content .width {
      width: 227px; }
    .skills .skill-content .skill {
      padding: 30px; }

.projects {
  background-color: inherit;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  /* PORTFOLIO */ }
  .projects #section-title {
    padding-top: 10px; }
    .projects #section-title h2 {
      display: inline-block;
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px;
      border-bottom: 5px solid #aa6e6f;
      color: #a8a8a8; }
  .projects .portfolio {
    display: inline;
    /* Needed for hover effect to work */
    /* img container */
    /* p container */ }
    .projects .portfolio .img-con:hover .port-item-text {
      width: 100%; }
    .projects .portfolio .img-con {
      position: relative;
      padding: 15px 0;
      /* img tag */ }
      .projects .portfolio .img-con .port-item {
        width: 100%;
        height: 360px;
        object-fit: cover; }
    .projects .portfolio .container2 {
      margin-top: 75px; }
    .projects .portfolio .container3 {
      margin-top: -75px; }
    .projects .portfolio .port-item-text {
      position: absolute;
      top: 15px;
      width: 0;
      height: 360px;
      background: rgba(170, 110, 111, 0.9);
      padding: 15px 0;
      display: flex;
      transition: 500ms ease-in-out;
      overflow: hidden;
      align-items: center;
      /* p tag */ }
      .projects .portfolio .port-item-text .item-text {
        text-align: center;
        justify-content: center;
        font-weight: 700;
        color: #e1e1e1;
        padding: 30%; }

.contact {
  background-color: inherit;
  height: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .contact #section-title {
    padding-top: 10px; }
    .contact #section-title h2 {
      display: inline-block;
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px;
      border-bottom: 5px solid #326281;
      color: #a8a8a8; }
  .contact .info {
    display: inline; }
  .contact .location {
    color: #326281; }
    .contact .location h2 {
      color: inherit;
      font-weight: 600; }
  .contact .email {
    color: #aa6e6f; }
    .contact .email h2 {
      color: inherit;
      font-weight: 600; }
  .contact h3 {
    color: #a8a8a8; }
  .contact .personal-email {
    text-decoration: underline; }

.footer {
  background-color: inherit;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  color: black; }
  .footer hr {
    width: 10%;
    border-top: 1px solid black; }
  .footer h4 {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block; }
  .footer .icon {
    display: inline-block;
    position: relative;
    left: 50%; }
  .footer .icon a {
    position: relative;
    color: black; }

/*# sourceMappingURL=main.css.map */
