html body {
  font-family: 'Montserrat', sans-serif; }

.home {
  background-image: url(/img/cover1.jpg);
  background-position-y: 54%;
  background-size: cover;
  height: 705px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  min-height: 550px;
  z-index: -1; }
  .home .navbar {
    padding-top: 15px; }
    .home .navbar #header-color a {
      color: aliceblue; }
    .home .navbar #header-color a:hover {
      color: aliceblue;
      background-color: transparent; }
    .home .navbar #header-color .navbar-right {
      margin-right: 5%;
      text-shadow: 1px .5px #363636; }
      .home .navbar #header-color .navbar-right li:nth-child(5) {
        border: 1px solid white;
        border-radius: 35px; }
  .home .image-hero img {
    height: 225px;
    position: absolute;
    top: 33.5%;
    left: 41.8%;
    border-radius: 50%;
    border: 4px solid aliceblue; }
  .home .center-text {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 39%;
    left: 71%;
    text-shadow: 1px .5px #363636;
    color: aliceblue; }
    .home .center-text .left {
      text-align: left; }
    .home .center-text span {
      text-transform: uppercase;
      font-size: 23px; }

.about-me {
  background-color: inherit;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 100px 0; }
  .about-me #section-title {
    padding: 10px; }
    .about-me #section-title h2 {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px; }
  .about-me .selfie {
    width: 60%; }
  .about-me p {
    font-weight: 500;
    font-size: 18px; }

.skills {
  background-color: inherit;
  text-align: center;
  width: 100%; }
  .skills #section-title {
    padding: 10px; }
    .skills #section-title h2 {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px; }
  .skills .skill-content {
    display: flex;
    justify-content: center;
    text-align: center; }
    .skills .skill-content .width {
      width: 227px; }
    .skills .skill-content .skill {
      padding: 30px; }

.projects {
  background-color: inherit;
  text-align: center;
  padding: 100px 0;
  width: 100%;
  /* Needed for hover effect to work */
  /* img container */
  /* p container */ }
  .projects #section-title {
    padding-top: 10px; }
    .projects #section-title h2 {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px; }
  .projects .tabs {
    list-style: none;
    text-align: center;
    font-weight: 600; }
    .projects .tabs .tab-toggle {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px; }
  .projects .img-con:hover .port-item-text {
    width: 360px; }
  .projects .img-con {
    position: relative;
    padding: 15px 0;
    /* img tag */ }
    .projects .img-con .port-item {
      width: 360px;
      height: 360px;
      object-fit: cover; }
  .projects .port-item-text {
    position: absolute;
    top: 15px;
    width: 0;
    height: 360px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    display: flex;
    transition: 0.7s ease;
    overflow: hidden;
    align-items: center;
    /* p tag */ }
    .projects .port-item-text .item-text {
      text-align: center;
      font-weight: 700;
      color: #e1e1e1;
      padding: 20%; }

.contact {
  background-color: inherit;
  text-align: center;
  padding: 100px 0;
  width: 100%; }
  .contact #section-title {
    padding-top: 10px; }
    .contact #section-title h2 {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px; }

.footer {
  background-color: inherit;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  color: black; }
  .footer hr {
    width: 10%;
    border-top: 1px solid black; }
  .footer h4 {
    text-align: center;
    position: relative;
    top: 50%; }

.active {
  color: #fff !important;
  text-decoration: underline !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*# sourceMappingURL=main.css.map */
