@media (min-width: 1200px) {
    .content-container {
        padding-left: 80px;
        padding-right: 80px;
    }
    
    #introduction p {
        width: 70%;
    }
    
    #about-photo {
        width: 350px;
        //left: 50%;
        //transform: translateX(-50%);
    }
    
    #container2 .img-con img {
        object-position: bottom;
    }
    
    #container3 .img-con img {
        object-position: bottom;
    }
    
    .projects #portfolio .port-item-text .item-text {
        padding: 40%;
    }
    
}

@media (min-width: 480px) and (max-width: 1199px) {
    
    .content-container {
        padding-left: 80px;
        padding-right: 80px;
    }
    
    #introduction {
        padding-bottom: 100px;
        p { 
            width: 100%;
        }
    }
    
    #about-photo {
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
    }
    
     #container2 .img-con img {
        object-position: bottom;
    }
    
    #container3 .img-con img {
        object-position: bottom;
    }
    
    .projects #portfolio .port-item-text .item-text {
        padding: 40%;
    }
    
    
    
    #container1 {
        img {
            //object-fit: contain;
        }
    }
    
    #container2 {
        margin-top: 0;
        img {
            //object-fit: contain;
        }
    }
    
    #container3 {
        margin-top: 0;
        img {
            //object-fit: contain;
        }
    }
    
    #container4 {
        img {
            //object-fit: contain;
        }
    }
    
     #portfolio {
        padding-top: 0;
    }
    
    #contact {
        padding-top: 0;
    }
    
    .location {
        margin-bottom: 50px;
    }
}
    
@media (min-width: 320px) and (max-width: 479px) {
    
    .content-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #introduction {
        
        padding-bottom: 100px;
        
        p { 
            width: 100%;
        }
    }
   
    #about-photo {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #container1 {
        img {
            //height: 50%;
            //object-fit: contain;
        }
        #port-item-text {
            
        }
    }
    
    #container2 {
        margin-top: 0;
        img {
            //height: 50%;
            object-position: bottom;
            //object-fit: contain;
        }
    }
    
    #container3 {
        margin-top: 0;
        img {
            //height: 50%;
            object-position: bottom;
            //object-fit: contain;
        }
    }
    
    #container4 {
        img {
            //height: 50%;
            //object-fit: contain;
        }
    }
    
    #portfolio {
        padding-top: 0;
    }
    
    #contact {
        padding-top: 0;
    }
    
    .location {
        margin-bottom: 50px;
    }
    
    #email h3 {
        //position: relative;
        //right: 18px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    
    #footer {
        padding-top: 0;
    }
}

html body {
    font-family: 'Montserrat', sans-serif;
}

.content-container {
    //padding-left: 80px;
    //padding-right: 80px;
}

.home {
    background-image: url(/img/cover4.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    min-height: 705px;
    .navbar {
        display: flex;
        padding-top: 20px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 18px;
        z-index: 50;
        
        .container {
            background: white;
            border-radius: 15px;
            padding-top: 5px;
        }
        
        .icon-bar {
            background-color: #326281;
        }
        
        a:hover {
            text-decoration: line-through;
            background-color: unset;
        }
        
        a:focus {
            background-color: unset;
        }
        
        a {
            color: #a8a8a8;
        }
        
    }
    .center-text {
        text-align: center;
        text-shadow: 1px .5px #363636;
        color: aliceblue;
        margin-left: auto;
        margin-right: auto;
        padding: 15% 0;
        
        span {
            text-transform: uppercase;
            font-size: 23px;
        }    
}


}

.about-me {
    background-color: inherit;
    height: 100%;
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 100px;
    
    .intro {
        display: inline;
        p:nth-child(2) {
            border-left: 5px solid #aa6e6f;
            text-align: left;
            padding-left: 20px;
        }
        p:nth-child(1) {
            border-left: 5px solid #326281;
            text-align: left;
            padding-left: 20px;
        }
        p {
            font-weight: 400;
            font-size: 1.5em;
            //float: left;
            width: 600px;
            margin-bottom: 20px;
        }
        .capitol-letter {
                text-transform: capitalize;
                font-weight: 600;
                font-size: 3em;
                line-height: 0.9;
                color: #326281;
        }
        .uppercase {
                text-transform: uppercase;
                font-weight: 600;
                color: #326281;
        }
        .about-photo::before {
            content: "";
            height: 75%;
            width: 75%;
            max-width: 300px;
            top: -15px;
            left: -15px;
            border: 10px inset rgba(254,166,168,1);
            position: absolute;
            z-index: 0;
            box-shadow: inset 15px 15px 70px -10px rgba(254,166,168,1);
        }
         .about-photo::after {
            content: "";
            height: 75%;
            width: 75%;
            max-width: 300px; 
            bottom: -15px;
            right: -15px;
            border: 10px outset rgba(83,163,214,1);
            position: absolute;
            z-index: 0;
            box-shadow: inset -15px -15px 70px -10px rgba(83,163,214,1);
        }
        .about-photo {
            position: relative;
        }
        .selfie {
            position: relative;
            z-index: 2;
            width: 350px;
            max-width: 100%;
            backface-visibility:visible;
        }
    }
}

.skills {
    background-color: inherit;
    text-align: center;
    //padding: 100px 0;
    width: 100%;
    
    #section-title {
        padding: 10px;
        
        h2 {
            font-weight: 600;
            font-size: 35px;
            letter-spacing: 1px;
        }
    }
        
    .skill-content {
        display: flex;
        justify-content: center;
        text-align: center;
        
        .width {
            width: 227px;
        }
        
        .skill {
            padding: 30px;
        }
    }
}

.projects {
    background-color: inherit;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    
    #section-title {
        padding-top: 10px;
        h2 {
            display: inline-block;
            font-weight: 600;
            font-size: 35px;
            letter-spacing: 1px;
            border-bottom: 5px solid rgba(170, 110, 111, 1);
            color: #a8a8a8;
        }
    }
    .portfolio { 
        display: inline;
        /* Needed for hover effect to work */
        .img-con:hover .port-item-text {
            width: 100%;
        }
        
        /* img container */
        .img-con { 
            position: relative;
            padding: 15px 0;
            
            /* img tag */
            .port-item {
                width: 100%;
                height: 360px;
                object-fit: cover;
            }
        }
        
        .container2 {
            margin-top: 75px;
        }
        
        .container3 {
            margin-top: -75px;
        }
        
        /* p container */
        .port-item-text {
            position: absolute;
            top: 15px;
            width: 0;
            height: 360px;
            background: rgba(170, 110, 111, 0.9);
            padding: 15px 0;
            display: flex;
            transition: 500ms ease-in-out;
            overflow: hidden;
            align-items: center;
            /* p tag */
            .item-text {
                text-align: center;
                justify-content: center;
                font-weight: 700;
                color: rgba(225, 225, 225, 1);
                padding: 30%;
                
            }
        }
    }
    /* PORTFOLIO */
}

.contact {
    background-color: inherit;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
    #section-title {
        padding-top: 10px;
        
        h2 {
            display: inline-block;
            font-weight: 600;
            font-size: 35px;
            letter-spacing: 1px;
            border-bottom: 5px solid rgba(50, 98, 129, 1);
            color: #a8a8a8;
        }
    }
    
    .info {
        display: inline;
    }
    .location {
        color: #326281;
        h2 {
            color: inherit;
            font-weight: 600;
        }
    }
    .email {
        color: #aa6e6f;
        h2 {
            color: inherit;
            font-weight: 600;
        }
    }
    h3 {
        color: #a8a8a8;
    }
    .personal-email {
        text-decoration: underline;
    }
}

.footer {
    background-color: inherit;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    color: black;
    
    hr {
        width: 10%;
        border-top: 1px solid black;
    }
    
    h4 {
        text-align: center;
        position: relative;
        top: 50%;
    }
}

